
    	*{
    		box-sizing: border-box;
    	}
    	body{
    		background:url(img/1.png);
    		background-size: cover;
    		background-repeat: no-repeat;
    		background-attachment: fixed;
    		margin:0;
    	}
    	nav{
    		margin:0;
    	}
        #navbar-brand{
				  width: 300px;
				  height: 80px;
				  opacity: 0.7;
				  -webkit-backdrop-filter: blur(16px);
				  backdrop-filter: blur(16px);
				  background-color: rgba(255, 255, 255, 0);
				}
		.navbar-nav{
			  opacity: 0.7;
				  -webkit-backdrop-filter: blur(16px);
				  backdrop-filter: blur(16px);
				  background-color: rgba(255, 255, 255, 0);
				
		}
		#dark-overlay{
			background-image: url(img/1212.png);
			height:655px;
		}
       #text1{
       		  width: 344px;
			  height: 63px;
			  font-family: Gilroy;
			  font-size: 50px;
			  font-weight: 900;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.26;
			  letter-spacing: normal;
			  text-align: left;
			  color: #ffffff;
			}