* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
img {
    vertical-align: inherit;
}
:root {
    --alphaGrey: rgba(126, 126, 126, 0.12);
    --lm: 50px;
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --brown: rgba(191, 105, 0, 0.5);
}
@font-face {
    font-family: CeraPro-Black;
    src: url('../assets/fonts/cera font/Cera Pro Black.otf');
}
@font-face {
    font-family: CeraPro-Light;
    src: url('../assets/fonts/cera font/Cera Pro Light.otf')
}
.background {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-size: cover;
    position: relative;
    
}
    
@media screen and (max-width: 900px) {
    .background {
        background-position: center;
        width: 100%;
        height: max-content;
    }
        .main {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: space-between;
            height: max-content;
            overflow-y: scroll;
            overflow-x: hidden;
        }
}

.main {
    width: 100%;
    height: 100%;
    padding-top: 3vh;
    /* overflow: hidden; */
    background-color: rgba(255, 255, 255, 0.1);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.goal {
    color:black;
    line-height: 1em;
    position: relative;
    width: max-content;
    margin-bottom: 220px;
    margin-left: var(--lm);
    font-family: CeraPro-Black;
    }
    .goalH1 {
        font-family: CeraPro-Black;
        font-size: 30px;
    }
    .goalPr {
        font-family: CeraPro-Light;
        font-size: 26px;
        margin-top: 15px;
        font-weight: 250;
    }
@media screen and (min-width: 1800px) {
    .goal {
        color:black;
        line-height: 2em;
        position: relative;
        width: max-content;
        margin-bottom: 430px;
        margin-left: var(--lm);
        font-family: CeraPro-Black;
        }
        .goalH1 {
            font-family: CeraPro-Black;
            font-size: 50px;
        }
        .goalPr {
            font-family: CeraPro-Light;
            font-size: 44px;
        }
}

@media screen and (max-width: 900px) {
    .goal {
        color: black;
        width: max-content;
        margin: 3vh 0 2vh 0;
        margin-bottom: 300px;
        position: relative;
        left: var(--lm);
        font-family: CeraPro-Black;
        }
        .goalPr {
            font-size: 1em;
            font-weight: 250;
        }
}




    .fadeOut {
        width: 100%;
        height: 60%;
        overflow: hidden;
        z-index:-20;
        background-color: rgb(255, 71, 71);
        bottom: 0;
        left: 0;
        position: absolute;
    }
        .owl-dots {
            position: absolute;
            top: 50%;
            z-index: 33;
            left: 0;
            transform: rotateZ(90deg);
        }
        /* .owl-nav {
            position: absolute;
            top: 0;
            background-color: tomato;
            left: 0;
            width: 200px;
        } */
@media screen and (max-width: 900px) {
    .fadeOut {
        height: 60%;
        overflow: hidden;
        z-index:-20;
        background-color: rgb(255, 71, 71);
        bottom: 0;
        right: 50%;
        position: absolute;
    }
        .owl-dots {
            top: 30%;
        }
        .images {
            width: 900px;
            height: 600px;
            object-fit: cover;
            object-position: center;
        }
}