* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CeraPro;
}
@font-face {
    font-family: CeraPro;
    src: url('../assets/fonts/cera font/Cera Pro Regular.otf');
}
@font-face {
    font-family: CeraPro-Bold;
    src: url('../assets/fonts/cera font/Cera Pro Bold.otf');
}
:root {
    --alphaGrey: rgba(126, 126, 126, 0.12);
    --lm: 35px;
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --violet:#484c7f;
    --grey:rgba(0,0,0,0.6);
    
}
.background {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-size: cover;
    position: relative;
}
@media screen and (max-width: 900px) {
    .background {
        background-position: center;
        overflow-y: scroll;
        width: 100%;
        height: max-content;
    }
    .main {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        height: max-content;
        overflow-y: scroll;
    }
    
    
}

.main {
    width: 100%;
    height: 100%;
    padding-top: 3vh;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
    .contacts {
        display: flex;
        justify-content: space-between;
        padding: 0 20vw;
        width: 100%;
    }
      
            .partition {
                color: black;
                font-size: 1.2em;
                padding: 10px 0;
                font-family: CeraPro-Bold;
            }
            .tel {
                padding-top: 20px;
                padding-right: 10px;
                border-top: 3px solid orangered;
                width: max-content;
                font-weight: 650;
                font-family: CeraPro-Bold;
                color:var(--grey);
            }
            .email {
                font-weight: 650;
                color:var(--grey);
            }
            .columns-content {
                padding-bottom: 10px;
                font-weight: 650;
                color:var(--grey);
            }
            .columns-bottom {
                position: relative;
                padding-top: 20px;
            }
                .address {
                    font-size: 0.9em;
                    font-weight: 600;
                    font-family: CeraPro-Bold;
                    color: black;
                }
                .map {
                    position: absolute;
                    top: 0;
                    object-fit: contain;
                    width: 60px;
                }
                .arrow-left {
                    position: absolute;
                    object-fit: contain;
                    width: 40px;
                    right: 110%;
                }
               
        @media screen and (min-width: 1800px) {
            .contacts {
                display: flex;
                justify-content: space-between;
                padding: 0 25vw;
                width: 100%;
                margin-top: 0;
            }
                .partition {
                    font-size: 23px;
                    font-family: CeraPro-Bold;

                }
                    .address {
                        font-family: CeraPro-Bold;
                        font-size: 23px;
                    }
        }

        @media screen and (max-width: 900px) {
            .contacts {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
            }
            .columns {
                padding: 2vh 0;
                width: 100%;
            }
                .columns-bottom {
                    margin-bottom: 30px;
                }
                    .arrow-left {
                        display: none;
                    }
               
        }
    